body {
	background-color: #1a1a1a;
	/*margin-bottom: 500px;*/
}

/*::selection { background-color: #fff; color: grey;}
::-moz-selection { background-color: #fff; color: grey;}*/


a,p,h1,h2,h3,h4,h5,h6,span {
	font-family: 'Raleway', 'Gotham', 'Helvetica', sans-serif;
	color: #ccc;
}

/* Header */
.qore-header {
	padding-top: 15px;
	padding-bottom: 15px;

}
.logo img, .social img {
	width: 50px;
	height: 50px;
}

.social {
	text-align: right;
}

.social a {
	margin-left: 20px;
}

/* Top image */
.qore-head-photo {
	background: url("../img/header.jpg") no-repeat right top;
	max-width: 1500px;
	margin: auto;
	border-top: 2px solid #7e4e24;
	border-bottom: 2px solid #7e4e24;
}

@media screen and (min-width: 1500px) {
	.qore-head-photo {
		max-width: 1170px;
	}
}

.qore-head-photo img {
	display: block;
	margin: auto;
	margin-top: 250px;
	margin-bottom: 250px;
	width: 350px;
	height: auto;
	padding-top: 40px;
}

@media screen and (max-width: 500px) {
	.qore-head-photo img {
		width: 50%;
		margin-top: 150px;
		margin-bottom: 150px;
	}
}

/* Description */
.qore-description {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 150px;
}
.qore-description h2 {
	font-weight: 500;
}

/* Projects */
.qore-projects-header {
	text-align: center;
	letter-spacing: .5em;
	margin-top: 150px;
	margin-bottom: 50px;
}
.qore-projects-header h1 {
	color: #7e4e24;
	font-weight: 700;
}

.qore-projects div {
	margin-top: 50px;
	margin-bottom: 40px;
	text-align: center;
	height: 210px;
}

.qore-projects img {
	width: 30%;
	max-width: 100px;
	height: auto;
	max-height: 100px;
	display: block;
	margin: auto;
}

.qore-projects h3 {
	font-weight: 700;
	color: #7e4e24;
	letter-spacing: .1em;
}

.qore-projects a  {
	color: #666666;
	font-weight: 600;
	letter-spacing: .1em;
}

.qore-projects a:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Footer */
.qore-footer {
	margin-top: 150px;
	border-top: 2px solid #7e4e24;
	padding: 15px 0 15px 0;
}
.qore-footer p {
	text-align: center;
	color: #666666;
	font-weight: 500;
	letter-spacing: .1em;
}
