body {
	background-color: #000;
	color: #fff;
	font-family: Roboto, sans-serif;
}


a, p, span, h1, h2, h3, h4, h5, h6, table {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
}

p {
	font-size: 1.2rem;
}

a {
	text-decoration: underline;
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Input Mono", Monospace;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-weight: 300;
	font-size: 1.8rem;
}

hr {
	height: 2px;
	background-color: black;
	margin-right: -20vw;
	border: 0;
}

.section_header {
	background: url(../img/geo_white.svg) repeat-x top center;
	background-size: auto 30vh;
}

.section_introduction {
	width: 25vw;
	margin-left: 10vw;
	padding-top: 15vh;
	padding-bottom: 15vh;
}

.section_introduction .top-logo {
	width: 50%;
	max-width: 180px;
	margin-bottom: 2.5vh;
}

.section_introduction hr {
	margin-right: -20vw;
	background-color: white;
	height: 1px;
	position: relative;
	z-index: 20;
}

.section_coverimage {
	width: 45vw;
	height: 80vh;
	position: absolute;
	top: 10vh;
	right: 10vw;
	z-index: 10;
	background: url(../img/pexels-maria-orlova-4916517.jpg) no-repeat center center;
	background-size: cover;
}

.section_coverimage img {
	width: 100%;
}

.section_coverimage .coverimage-text {
	position: absolute;
	top: 5vh;
	right: 5vw;
	font-family: "Input Mono", Monospace;
	font-size: 3rem;
	color: #FFF;
}

.section_subheader {
	z-index: 5;
	position: relative;
	color: #000;
	background-color: #FFF;
	padding: 10vh 65vw 30vh 10vw;
}

.section_subheader span {
	color: #888;
	padding-bottom:0;
	font-size: 1.2rem;
}

.section_subheader .logo {
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
	width: 2.5vw;
}

.section_content {
	position: absolute;
	width: 100vw;
	top: 200vh;
	background: url(../img/geo_black.svg) repeat-x bottom center;
	background-size: auto 30vh;
	background-color: #FFF;
	color: #000;
	padding: 0 10vw 10vh 10vw;
	/* padding: 10vh 10vw 10vh 10vw; */
}

.section_content > p {
	padding: .5vh 5vw .5vh 5vw;
}

.section_footer {
	margin: 15vh 0 35vh 0;
	font-family: "Input Mono", Monospace;
}


.section_footer .logo {
	width: 2.5vw;
	min-width: 25px;
	margin: auto;
	display: block;
}

.section_footer p {
	width: 50%;
	float: left;
	display: block;
	margin-top: 5vh;
}

.section_footer p:last-child {
	padding-top: .5em;
	text-align: right;
}

@media screen and (max-width: 900px) {
	.section_introduction {
		width: 35vw;
		margin-left: 5vw;
	}
	.section_coverimage {
		width: 50vw;
		right: 5vw;
	}
	.section_subheader {
		padding: 10vh 60vw 30vh 5vw;

	}
}

/* @media screen and (max-width: 600px) {
	.section_introduction p {

	}
} */
