html {
	margin-top: 3%;
	padding: 0;
	background-color: white;
}

body {
	margin: 0 auto 0 auto;
	padding: 0;
	max-width: 1500px;
	height: 100%;
	background-color: white;
	/*border: 1px solid #1A1A1A;*/
}

p, span, h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
}

header {
	position: absolute;
	z-index: 999;
	height: 70px;
	width: 100%;
	max-width: 1500px;
	background-color: rgba(26, 26, 26, .9);
}

header div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

header div span {
	color: white;
	font-size: 1.3em;
	margin: 1em;
	font-family: "Lucida Console", Monaco, monospace;
	opacity: .2;
	letter-spacing: .2em;
	text-transform: uppercase;
}

section.top {
	height: 840px;
	width: 100%;
	background: white url("img/headerWeb.jpg") no-repeat fixed right top;
}

section.top img {
	width: 250px;
	height: auto;
	
	/* Alignment */
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

section#intro {
	font-family: sans-serif;
	height: 300px;

	text-transform: uppercase;
	text-align: center;
}
section#intro ul {
	list-style: none;
	margin: 50px 0 0 -40px;
}
section#intro a {
	display: inline-block;
	background-color: rgba(100, 100, 100, 1);
	padding: 20px;
	margin: 0 0 0 0;
	width: 200px;
	height: 200px;
}
section#intro a li {
	display: inline-block;
	text-indent: 0;
	color: white;
}
section#intro a li img {
	width: 100px;
	height: auto;
	display: block;
	margin: 30px auto 20px auto;
	opacity: 1;
}
section#intro a li span {
	/*opacity: .2;*/
}

section#intro div {
	background-color: #1d1d1d;
	display: block;
	margin: 4px auto 0 auto;
	width: 728px;
	color: white;
	text-align: left;
}


/* Above 1500 pixels */
@media screen and (min-width: 1500px) {
	section.top {
		background-position: center top;
	}
}

@media screen and (max-width: 1500px) {
	html {
		margin: 0;
	}
}

@media screen and (max-width: 800px) {
	section#intro a {
		width: 150px;
	}
	section.top {
		height: 600px;
	}
	section.top img {
		width: 200px;
	}
}

@media screen and (max-width: 600px) {
	section.top {
		height: 400px;
	}
	section.top img {
		width: 150px;
	}
	section#intro a {
		width: 100px;
		height: 100px;
	}
	section#intro a li img {
		width: 70px;
		margin-top: 15px;
	}
	section#intro a li span {
		display: none;
	}
}